@model Product

@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center">Yeni Ürün Oluştur</h2>
            <hr />
            @if (!string.IsNullOrEmpty((string)ViewData["ErrorMessage"]))
            {
                <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
            }
            <form asp-action="Create">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" id="description" name="description" rows="5" required></textarea>
                </div>

                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" class="form-control" id="price" name="price" required>
                </div>
                <div class="form-group">
                    <label for="StockQuantity">Stock Amount:</label>
                    <input type="number" class="form-control" id="StockQuantity" name="StockQuantity" required>
                </div>
                <div class="form-group">
                    <label for="color">Color:</label>
                    <select class="form-control" id="color" name="color" required>
                        @foreach (var color in ViewBag.Colors)
                        {
                            <option value="@color">@color</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="ImageUrl">Image Url:</label>
                    <input type="text" class="form-control" id="ImageUrl" name="ImageUrl" required>
                </div>

                <div class="form-group">
                    <label for="brandId">Brands:</label>
                    <select class="form-control" id="brandId" name="brandId" required>
                        @foreach (var brand in (IEnumerable<Brand>)ViewBag.Brands)
                        {
                            <option value="@brand.Id">@brand.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="categoryId">Category:</label>
                    <select class="form-control" id="categoryId" name="categoryId" required>
                        @foreach (var category in (IEnumerable<Category>)ViewBag.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </div>

                <div class="form-group text-center pt-3">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-save"></i> Create
                    </button>
                    <a href="@Url.Action("Index")" class="btn btn-outline-secondary">
                        <i class="fa fa-arrow-left"></i> Back to List
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>