@model User
@{
    ViewData["Title"] = "Register";
}

<style>
    body {
        background-color: #f8f9fa;
    }

    .register-container {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 50px;
        padding: 20px;
        border: 1px solid #eaeaea;
        background-color: #fff;
    }

        .register-container h2 {
            text-align: center;
            margin-bottom: 30px;
        }

    .form-group {
        margin-bottom: 20px;
    }

        .form-group label {
            font-weight: bold;
        }

    .form-control:focus {
        box-shadow: none;
    }

    .btn-register {
        background-color: #343a40;
        color: #fff;
    }
</style>
<body>
    <div class="container">
        <div class="register-container">

            <h2>Register</h2>
            @if (!string.IsNullOrWhiteSpace((string)ViewData["SuccessMessage"]))
            {
                <div id="success-alert" class="alert alert-success">@ViewData["SuccessMessage"]</div>
            }
            @if (!string.IsNullOrWhiteSpace((string)ViewData["ErrorMessage"]))
            {
                <div id="error-alert" class="alert alert-danger">@ViewData["ErrorMessage"]</div>
            }
            @if (!string.IsNullOrWhiteSpace((string)TempData["SuccessMessage"]))
            {
                <div id="success-alert" class="alert alert-success">@TempData["SuccessMessage"]</div>
            }
            @if (!string.IsNullOrWhiteSpace((string)TempData["ErrorMessage"]))
            {
                <div id="error-alert" class="alert alert-danger">@TempData["ErrorMessage"]</div>
            }
            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Enter your Email" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @placeholder = "Enter your password", @class = "form-control", @type = "password" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "Enter your FirstName" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Enter your LastName" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Gender)
                    @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>
                    {
                        new SelectListItem { Text = "Erkek", Value = "Erkek" },
                        new SelectListItem { Text = "Kadın", Value = "Kadın" }
                    }, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.DateOfBirth)
                    @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control", @placeholder = "Enter your DateOfBirth", @type = "date" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.City)
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", @placeholder = "Enter your City" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Address)
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Enter your Address" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ProfilePhoto)
                    @Html.TextBoxFor(m => m.ProfilePhoto, new { @class = "form-control", @placeholder = "Enter your Profile Photo" })
                </div>

                <button type="submit" class="btn btn-register btn-block">Register</button>
            }
        </div>
    </div>

</body>

@section scripts {
    <script>
        $(document).ready(function () {
            // Hide success and error messages after 5 seconds
            setTimeout(function () {
                $("#success-alert, #error-alert").fadeOut("slow", function () {
                    $(this).remove();
                });
            }, 2000);


        });
    </script>
}