@model User

@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center">Edit User</h2>
            <hr />
            @if (!string.IsNullOrEmpty((string)ViewData["ErrorMessage"]))
            {
                <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
            }
            <form asp-action="Edit" asp-route-id="@Model.Id">
                <div class="form-group">
                    <label for="FirstName">First Name:</label>
                    <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.FirstName" required>
                </div>
                <div class="form-group">
                    <label for="LastName">Last Name:</label>
                    <input type="text" class="form-control" id="LastName" name="LastName" value="@Model.LastName" required>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" value="@Model.Email" required>
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" value="@Model.Password" required>
                </div>

                <div class="form-group">
                    <label for="Address">Adres:</label>
                    <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address" required>
                </div>

                <div class="form-group">
                    <label for="Gender">Cinsiyet:</label>
                    <select class="form-control" id="Gender" name="Gender" required>
                        <option value="Erkek" Selected="@((Model.Gender == "Erkek").ToString().ToLower())">Erkek</option>
                        <option value="Kadın" Selected="@((Model.Gender == "Kadın").ToString().ToLower())">Kadın</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="DateOfBirth">Doğum Tarihi:</label>
                    <input type="datetime" class="form-control" id="DateOfBirth" name="DateOfBirth" value="@Model.DateOfBirth" required>
                </div>
                <div class="form-group text-center pt-3">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Update
                    </button>
                    <a href="@Url.Action("Index")" class="btn btn-outline-secondary">
                        <i class="fa fa-arrow-left"></i> Back to List
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>